.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  display: block;
  padding: 5px;
  margin: 0.5em;
}

.is-active:not(.branding) {
  border-bottom: 1px solid white;
}

.external::after {
  content: '\21F1';
  display: inline-block;
  transform: rotate(90deg) translate(-7px, -6px);
  font-size: 0.8em;
  opacity: 0.9;

  @media screen and (max-width: 400px) {
    display: none;
  }
}
